# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
npm-debug.log*

yarn.lock
package-lock.json

release/
tsconfig.main.tsbuildinfo